<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="bg-zinc-900 min-h-screen text-white p-10">

    <div class="main">
      <form action="">
        <input type="text" 
               class="py-2 px-3 mt-5 bg-zinc-700 rounded-md shadow-lg block w-full outline-none" 
               placeholder="Type Your Note Heading!">
        <textarea 
               class="py-2 px-3 mt-5 bg-zinc-700 rounded-md shadow-lg block w-full resize-none outline-none" 
               placeholder="Enter Your Task Details"></textarea>
        <button class="block bg-blue-700 py-2 px-3 mt-5 rounded-md shadow-md">Submit Task</button>
      </form>
    </div>

    <div class="flex flex-wrap gap-5">
      <% if (files && files.length > 0) { %>
        <% files.forEach((val) => { %>
          <div class="tasks px-2 py-3 shadow-lg mt-10 bg-zinc-700 w-[200px] rounded-md">
            <h1 class="text-xl font-bold text-ellipsis overflow-hidden">Tasks</h1>
            <a class="text-blue-500 mt-5 block" href="">See Details</a>
          </div>
        <% }) %>
      <% } else { %>
        <h3 class="text-2xl text-center block mt-10 text-zinc-600">No Task Yet</h3>
      <% } %>
    </div>

  </section>
</body>

</html>
